
body {
	text-align: center;
	margin: 0;
}
@font-face {
font-family: 'Walkway Bold';
src: url('../font/Walkway.ttf');
}
.modal {
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.8);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 50;
	animation: modal 1s 1s forwards;
	visibility: hidden;
	opacity: 0;
}

.contenido {
	margin:0 auto;
	width: 40%;
	height: 40%;
	font-family: 'Walkway Bold';
	background: white;
	border-radius: 10px;
}

#cerrar {
	display: none;
}

#cerrar + label {
	position: fixed;
	color: #fff;
	font-size: 35px;
	z-index: 100;
	background: darkred;
	height: 60px;
	width: 60px;
	line-height: 90px;
	border-radius: 50%;
	right: 9px;
	cursor: pointer;

	animation: modal 1s 1s forwards;
	visibility: hidden;
	opacity: 0;

}
#cerrar:checked + label, #cerrar:checked ~ .modal {
	display: none;
}

@keyframes modal {
	100% {
		visibility: visible;
		opacity: 1;
	}
}