	body,input,textarea,select
	{
		font-size: 16pt;
	}

	h2
	{
	}

		h2 br
		{
			display: none;
		}

	.container
	{
		padding: 0 2em 0 2em;  
	}

	/* Item */
	
		.item
		{
			margin-bottom: 15px;
		}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		position: relative;
		width: 100%;
		background: none !important;
		box-shadow: none !important;
	}
	
		#header .top
		{
			position: relative;
		}
	
		#header .bottom
		{
			border-top: solid 1px rgba(255,255,255,0.05);
			box-shadow: 0 -1px 0 0 rgba(0,0,0,0.15);
			padding-top: 2em;
			margin-top: 1em;
			position: relative;
		}

	#logo
	{
		margin: 1.5em 1.25em 1.25em 1.25em;
	}

	#nav
	{
	}
	
		#nav ul
		{
		}
		
			#nav ul li
			{
			}
			
				#nav ul li a
				{
					padding: 0.5em 1.25em 0.5em 1.25em;
				}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
	
	#footer
	{
		margin-left: 0;
	}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
		margin-left: 0;
	}

/*********************************************************************************/
/* Side Panel                                                                    */
/*********************************************************************************/

	#sidePanel
	{
		background: #CEF4E5;
		box-shadow: inset -0.25em 0 0.25em 0 rgba(0,0,0,0.125);
		width: 400px;
	}

	#sidePanelToggle
	{
	}
	
		#sidePanelToggle .toggle
		{
			width: 100%;
height: 150%;
background: rgba(0, 0, 0, 0.5) url('images/toggle.svg') center center no-repeat;
border-radius: 0.35em;
		}