/*inportamos codigo css de menu a estilo.css*/
@import url(menu.css);
@import url(banner.css);
@import url(blog.css);
@import url(info.css);
* {
	/* ponemos margen como 0 y pading como 0 a todo el
	LA estructura HTML O dOM*/
	margin: 0;
	padding: 0;
	/*dentro de la mismo modelo de caja */
	box-sizing: border-box;
}
@font-face {
  font-family: 'Walkway';
  src: url('../font/Walkway.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*estamos en la parte de retroceder pasos atras jejejeje xD*/
body{
	/*estilo de letra de todo el cuerpo /*/
	font-family: 'Walkway';

}
/*al encabezado le daremos los siguientes estilos*/
 header{
 	/*ancho como 100%*/
 	width: 100%;
 	/*altura de 50px*/

 	height: 50.5px;

 	height: 60px;



 	height: 80px;

 	/*El color de fondo*/
 	background:orange;
 	/*Color de letra*/
 	color:#fff;
	/*para que el encabezado siempre este disponible*/
 	position: fixed;
 	/*El top desde donde comienza el encabezado*/
 	top: 0;
 	/*va comenzar desde la esquina*/
 	left: 0;
	/*para */
 	z-index: 100;
 }

 .contenedor{
 	/*posicion que ocupa contenedor dentro del encabez*/
 	width: 98%;
 	margin: auto;

 }

  h1{
  	/*el TITULO va estar flotando dentro del encabezado*/
 	float: left;
 }

 header .contenedor{
 	display: table;
 }
 section{
 	width: 100%;
 	margin-bottom: 24px;

 }
 #bienvenidos{
 	text-align: center;
 }
 footer .contenedor{
 	display: flex;
 	flex-wrap:wrap;
 	justify-content:center;
 	padding-bottom: 20px;

 }

 .iframe-16-9 {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.iframe-16-9  iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}


 .copy{
 	font-size: 10px;

 }
 .sociales{
 	width: 100%;
 	text-align: center;
 	font-size: 20px;
      height:0px;

 }
 .sociales a{
 	color: #333;
 	text-decoration: none;
 }

 @media (min-width: 1024px){
 	.contenedor{
 		width: 1000px;
 	}
 }