
#menu-bar {
	/* para que el checbox no aparezca*/
	display: none;
}

header label{
	/*va estar flotando del lado derecho*/
	float: right;

	font-size: 28px;
	margin: 6px 0;
	cursor: pointer;
}

.menu {
	/*la posicion es  Absoluta ocupa toda la pantalla*/
	position: absolute;
	/*el menu empieza desde 50px hacia abajo*/
	top: 60px;
	/*del lado izquierdo empieza en 0 */
	left: 0;
	/*Tiene un ancho de 100% ocupa toda la */
	width: 30%;
	/*altura ocupa todo*/
	height: 100vh;
	/*EL color 0.9 significa transparencia*/
	background: orange;
	transition:all 0.5s;
	transform:translateX(-100%);
}
.menu2 {
	/*la posicion es  Absoluta ocupa toda la pantalla*/
	position:relative;
	/*el menu empieza desde 50px hacia abajo*/
	top: 800px;
	/*del lado izquierdo empieza en 0 */
	right:0;
	/*Tiene un ancho de 100% ocupa toda la */
	width: 30%;
	/*altura ocupa todo*/
	height: 100vh;
	/*EL color 0.9 significa transparencia*/
	background: #0F5E97;
	transition:all 0.5s;
	transform:translateX(-100%);
}
.menu a{
	display: block;

	color: 	#fff;
	height: 50px;
	text-decoration: none;
	padding: 15px;
	border-bottom: 1px solid rgba(255,255,255,0.3)
}
.menu a:hover{
	background: rgba(255,255,255,0.3);
}

#menu-bar:checked ~.menu{
transform:translateX(0);
}

@media (min-width: 1024px){
	.menu{
		position: static;
		width: auto;
		height: 100%;
		transform:translateX(0%);
		float: right;
		display: flex;
	}
	.menu a{
		border: none;
		font-size: 25px;

	}
	header label{
		display: none;
	}


}
}