<script src="../js/zepto.js"></script>
<script src="../js/zepto.dragdrop.js"></script>
<script src="../js/equivalentes.js"></script>
<link rel="stylesheet" type="text/css" href="../css/estilos.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" charset="utf-8"/>
<body>
 <header>
  <br>
  <a href="../nivel2.html"><span><img src="../ico/back.png" align="left" width="30" height="30"></span></a>
  <h2 align="center">Fracciones Equivalentes (Arrastra los números y observa la fracción)</h2>

 </header>
 
   	<img src="../numeros/number-1.svg" id="uno" class="uno">                
	  <img src="../numeros/number-2.svg" id="dos" class="dos">                
    <img src="../numeros/number-3.svg" id="tres" class="tres">
    <img src="../numeros/number-4.svg" id="cuatro" class="cuatro">
    <img src="../numeros/number-5.svg" id="cinco" class="cinco">
    <img src="../numeros/number-6.svg" id="seis" class="seis">
    <img src="../numeros/number-7.svg" id="siete" class="siete">
    <img src="../numeros/number-8.svg" id="ocho" class="ocho">
    <img src="../numeros/number-9.svg" id="nueve" class="nueve">
    <img src="../numeros/number-10.svg" id="diez" class="diez">
    <img src="../numeros/number-1.svg" id="uno2" class="uno2">                
    <img src="../numeros/number-2.svg" id="dos2" class="dos2">                
    <img src="../numeros/number-3.svg" id="tres2" class="tres2">
    <img src="../numeros/number-4.svg" id="cuatro2" class="cuatro2">
    <img src="../numeros/number-5.svg" id="cinco2" class="cinco2">
    <img src="../numeros/number-6.svg" id="seis2" class="seis2">
    <img src="../numeros/number-7.svg" id="siete2" class="siete2">
    <img src="../numeros/number-8.svg" id="ocho2" class="ocho2">
    <img src="../numeros/number-9.svg" id="nueve2" class="nueve2">
    <img src="../numeros/number-10.svg" id="diez2" class="diez2">
  <div id="numerador" class="numerador"></div>
  <div class="raya"></div>
  <div id="denominador" class="denominador"></div>
  <div id="resultado" class="resultado"></div>
  <div id="texto" class="texto">Equivalente a: </div>
  <br></br>
  
  </body>