<script src="../js/zepto.js"></script>
<script src="../js/zepto.dragdrop.js"></script>
<script src="../js/ordena.js"></script>
<link rel="stylesheet" type="text/css" href="../css/estilos2.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" charset="utf-8"/>
<body>
 <header><a class="btn" href="../nivel2.html">Atrás</a></header>
 <h3>Ordena las fracciones de Mayor a Menor valor</h3>
<img src="../tipos/propia1.svg" class="uno" id="uno">
<img src="../tipos/propia2.svg" class="dos" id="dos">
<img src="../tipos/propia5.svg" class="tres" id="tres">
<img src="../tipos/propia9.svg" class="cuatro" id="cuatro">
<img src="../tipos/propia10.svg" class="cinco" id="cinco">
<img src="" class="c1" id="c1">
<img src="" class="c2" id="c2">
<img src="" class="c3" id="c3">
<img src="" class="c4" id="c4">
<img src="" class="c5" id="c5">