
  <link rel="stylesheet" type="text/css" href="../css/estilos2.css">
  <script src="../js/zepto.js"></script>
  <script src="../js/zepto.dragdrop.js"></script>
  <script src="../js/reparto1.js"></script>

  <meta charset="utf-8">

 <body><!-- onload="deshabilitaRetroceso()">-->
  <header>
    <br>
    <br><a href="../nivel1.html"><span><img src="../ico/back.png" align="left" width="30" height="30"></span></a>
  <h2 align="center">Reparte los pollitos para que cada gallina tenga igual cantidad</h2>
  </header>

 <img src="../images/pollito1.svg" id="drag1">
 <img src="../images/pollito2.svg" id="drag2">
 <br>
 <br>
  <img id="drop" src="../images/gallina1.svg" class="drop">
  <img id="drop2" src="../images/gallina3.svg" class="drop2">
  <div id="texto1" class="text1"> </div>
  <div id="texto3" class="text3"> </div>
  <img id="image" class="image">
  <div style="display: none;">
  <audio src="../audio/select.mp3" preload="auto" controls ></audio>
  <audio src="../audio/success.wav" preload="auto" controls ></audio>
  <audio src="../audio/error.mp3" preload="auto" controls ></audio>
  </div>



   </body>   
            