 <link rel="stylesheet" type="text/css" href="../css/estilos2.css">
  <script src="../js/zepto.js"></script>
  <script src="../js/zepto.dragdrop.js"></script>
  <script src="../js/reparto8.js"></script>

  <meta charset="utf-8">
<body>
 <header> 
    <br>
    <br> <a href="reparto7.html"><span><img src="../ico/back.png" align="left" width="30" height="30"></span></a>
  <a href="../nivel1.html"><span><img src="../ico/house.png" align="right" width="30" height="30"></span></a>
  <h2 align="center">Coloca a los juguetes dentro de las cajas de igual manera </h2>
  </header>
 <img src="../toys/toy1.svg" id="draga1">
 <img src="../toys/toy2.svg" id="draga2">
 <img src="../toys/toy3.svg" id="draga3">
 <img src="../toys/toy4.svg" id="draga4">
 <img src="../toys/toy17.svg" id="draga5">
 <img src="../toys/toy18.svg" id="draga6">
 <img src="../toys/toy7.svg" id="draga7">
 <img src="../toys/toy8.svg" id="draga8">
 <img src="../toys/toy9.svg" id="draga9">
 <img src="../toys/toy10.svg" id="draga10">
 <img src="../toys/toy11.svg" id="draga11">   
 <img src="../toys/toy12.svg" id="draga12">
  <img id="drop" src="../toys/toy5.svg" class="dr11">
  <img id="drop2" src="../toys/toy6.svg" class="dr22">
<div id="texto1" class="teuno"></div>      
<div id="texto3" class="tedos"> </div> 
<img id="image" class="image">
</body>