  <link rel="stylesheet" type="text/css" href="../css/estilos2.css">
  <script src="../js/zepto.js"></script>
  <script src="../js/zepto.dragdrop.js"></script>
  <script src="../js/reparto5.js"></script>

  <meta charset="utf-8">
<body>
 <header>
  <br>
    <br> <a href="reparto4.html"><span><img src="../ico/back.png" align="left" width="30" height="30"></span></a>
  <a href="../nivel1.html"><span><img src="../ico/house.png" align="right" width="30" height="30"></span></a>
  <h2 align="center">Reparte las verduras dentro de los cestos de igual cantidad</h2>
  </header>
 <img src="../verduras/calabaza.svg" id="draga1">
 <img src="../verduras/cebolla.svg" id="draga2">
 <img src="../verduras/rabano.svg" id="draga3">
 <img src="../verduras/tomate.svg" id="draga4">
 <img src="../verduras/tomate1.svg" id="draga5">
 <img src="../verduras/calabaza.svg" id="draga6">
 <img src="../verduras/cebolla.svg" id="draga7"> 
 <img src="../verduras/tomate.svg" id="draga8">
 <img src="../verduras/rabano.svg" id="draga9">
  <img id="dro1" src="../cestos/bolsa.svg" class="dro1">
  <img id="dro2" src="../cestos/frasco.svg" class="dro2">
  <img id="dro3" src="../cestos/canasta.svg" class="dro3">
  <div id="texto1" class="tex1"> </div>
  <div id="texto3" class="tex2"> </div>
  <div id="texto4" class="tex3"> </div>
<img id="image" class="image">   
  <div style="display: none;">
  <audio src="../audio/select.mp3" preload="auto" controls ></audio>
  <audio src="../audio/success.wav" preload="auto" controls ></audio>
  <audio src="../audio/error.mp3" preload="auto" controls ></audio>
  </div>