 <link rel="stylesheet" type="text/css" href="../css/estilos2.css">
  <script src="../js/zepto.js"></script>
  <script src="../js/zepto.dragdrop.js"></script>
  <script src="../js/reparto9.js"></script>

  <meta charset="utf-8">
<body>
 <header>
    <br>
    <br><a href="reparto8.html"><span><img src="../ico/back.png" align="left" width="30" height="30"></span></a>
  <a href="../nivel1.html"><span><img src="../ico/house.png" align="right" width="30" height="30"></span></a>
  <h2 align="center">Reparte solo 10 Dulces en los siguientes frascos</h2>
</header>
 <img src="../candys/d1.svg" id="draga1">
 <img src="../candys/d2.svg" id="draga2">
 <img src="../candys/d3.svg" id="draga3">
 <img src="../candys/d5.svg" id="draga4">
 <img src="../candys/d6.svg" id="draga5">
 <img src="../candys/d7.svg" id="draga6">   
 <img src="../candys/d8.svg" id="draga7">
 <img src="../candys/d9.svg" id="draga8">
 <img src="../candys/d1.svg" id="draga9">
 <img src="../candys/d2.svg" id="draga10">
 <img src="../candys/d3.svg" id="draga11">
 <img src="../candys/d5.svg" id="draga12">
  <br>
    <br><img id="drop" src="../cestos/frasco.svg" class="dr11">
  <img id="drop2" src="../cestos/cesto_1.png" class="dr22">
<div id="texto1" class="teone"></div>
<div id="texto3" class="tetwo"></div>
<img id="image" class="image">      
</body> 
   