  <link rel="stylesheet" type="text/css" href="../css/estilos2.css">
  <script src="../js/zepto.js"></script>
  <script src="../js/zepto.dragdrop.js"></script>
  <script src="../js/reparto2.js"></script>
 
  <meta charset="utf-8">
 <body>
  <header>
  <br>
    <br><a href="reparto1.html"><span><img src="../ico/back.png" align="left" width="30" height="30"></span></a>
  <a href="../nivel1.html"><span><img src="../ico/house.png" align="right" width="30" height="30"></span></a>
  <h2 align="center">Reparte los mosquitos en cada hoja por cantidades iguales</h2>
 </header>
 <img src="../animal/mariquita.svg" id="drag1">
 <img src="../animal/mariquita.svg" id="drag2">
 <img src="../animal/mariquita.svg" id="drag3">
 <img src="../animal/mariquita.svg" id="drag4">
 <p>
  <img id="drop" src="../images/hoja.svg" class="drop">
  <img id="drop2" src="../images/hoja.svg" class="drop2">
  <div id="texto1" class="text1"> </div>
  <div id="texto3" class="text3"> </div>
  <img id="image" class="image"></p>
  <img id="image" class="image">
    <div style="display: none;">
  <audio src="../audio/select.mp3" preload="auto" controls ></audio>
  <audio src="../audio/success.wav" preload="auto" controls ></audio>
  <audio src="../audio/error.mp3" preload="auto" controls ></audio>
  </div>
   </body>
        