 <link rel="stylesheet" type="text/css" href="../css/estilos2.css">
  <script src="../js/zepto.js"></script>
  <script src="../js/zepto.dragdrop.js"></script>
  <script src="../js/reparto6.js"></script>

  <meta charset="utf-8">
 <body>
 <header>
   <br>
    <br><a href="reparto5.html"><span><img src="../ico/back.png" align="left" width="30" height="30"></span></a>
  <a href="../nivel1.html"><span><img src="../ico/house.png" align="right" width="30" height="30"></span></a>
  <h2 align="center">Coloca a los insectos en cada frasco en partes iguales</h2>
  </header>
 <img src="../animal/caracol.svg" id="draga1">
 <img src="../animal/arana.svg" id="draga2">
 <img src="../animal/mariposa.svg" id="draga4">
 <img src="../animal/escarabajo.svg" id="draga5">
 <img src="../animal/grillo.svg" id="draga6">
 <img src="../animal/mosca.svg" id="draga7">
 <img src="../animal/mariposa2.svg" id="draga8">
  <img id="drop" src="../cestos/contenedor.png" class="dro1">
  <img id="drop2" src="../cestos/frasco.svg" class="dro2">
  <img id="drop3" src="../cestos/frascos.png" class="dro3">
  <div id="texto1" class="tex1"> </div>
  <div id="texto3" class="tex2"> </div>
  <div id="texto4" class="tex3"> </div>
  <img id="image" class="image"> 
         