 <link rel="stylesheet" type="text/css" href="../css/estilos2.css">
  <script src="../js/zepto.js"></script>
  <script src="../js/zepto.dragdrop.js"></script>
  <script src="../js/reparto10.js"></script>
  
  <meta charset="utf-8">
<body>

 <header>
   <br>
    <br><a href="reparto9.html"><span><img src="../ico/back.png" align="left" width="30" height="30"></span></a>
  <a href="../nivel1.html"><span><img src="../ico/house.png" align="right" width="30" height="30"></span></a>
  <h2 align="center">Reparte la mitad de pollitos a cada gallina</h2>
  </header>
 <img src="../images/pollito1.svg" id="draga1">
 <img src="../images/pollito2.svg" id="draga2">
 <img src="../images/pollito2.svg" id="draga3">
 <img src="../images/pollito1.svg" id="draga4">
 <img src="../images/pollito1.svg" id="draga5">
 <img src="../images/pollito2.svg" id="draga6">
 <img src="../images/pollito2.svg" id="draga7">
 <img src="../images/pollito1.svg" id="draga8">
 <img src="../images/pollito1.svg" id="draga9">
 <img src="../images/pollito1.svg" id="draga10">
 <img src="../images/pollito1.svg" id="draga11">
 <img src="../images/pollito2.svg" id="draga12"><br>
    <br>
  <img id="drop" src="../images/gallina1.svg" class="drop">
  <img id="drop2" src="../images/gallina3.svg" class="drop2">   
<div id="texto1" class="te1"></div>   
<div id="texto3" class="te2"></div> 
<img id="image" class="image">
   </div>
   </body>