  <link rel="stylesheet" type="text/css" href="../css/estilos2.css">
  <script src="../js/zepto.js"></script>
  <script src="../js/zepto.dragdrop.js"></script>
  <script src="../js/reparto4.js"></script>

  <meta charset="utf-8">
  <body>
 <header>
   <br>
    <br><a href="reparto3.html"><span><img src="../ico/back.png" align="left" width="30" height="30"></span></a>
  <a href="../nivel1.html"><span><img src="../ico/house.png" align="right" width="30" height="30"></span></a>
  <h2 align="center">Reparte los peces en cantidades iguales dentro de las peceras</h2>
</header>
 <img src="../peces/pez1.svg" id="draga1">
 <img src="../peces/pez2.svg" id="draga2">
 <img src="../peces/pez3.svg" id="draga3">
 <img src="../peces/pez4.svg" id="draga4">
 <img src="../peces/pez5.svg" id="draga5">
 <img src="../peces/pez6.svg" id="draga6">
 <img src="../peces/pez7.svg" id="draga7">
 <img src="../peces/pez8.svg" id="draga8">
 <img src="../peces/pez9.svg" id="draga9">
<br>
    <br>
  <img id="drop" src="../cestos/pecera.svg" class="drop">
  <img id="drop2" src="../cestos/pecera2.svg" class="drop2">
  <div id="texto1" class="text1"> </div>
  <div id="texto3" class="text3"> </div>
  <img id="image" class="image">
  <div style="display: none;">
  <audio src="../audio/select.mp3" preload="auto" controls ></audio>
  <audio src="../audio/success.wav" preload="auto" controls ></audio>
  <audio src="../audio/error.mp3" preload="auto" controls ></audio>
  </div>

