 <link rel="stylesheet" type="text/css" href="../css/estilos2.css">
  <script src="../js/zepto.js"></script>
  <script src="../js/zepto.dragdrop.js"></script>
  <script src="../js/reparto7.js"></script>

  <meta charset="utf-8">
  <body>
 <header>
  <br>
    <br> <a href="reparto6.html"><span><img src="../ico/back.png" align="left" width="30" height="30"></span></a>
  <a href="../nivel1.html"><span><img src="../ico/house.png" align="right" width="30" height="30"></span></a>
  <h2 align="center">Coloca a los autos dentro de cada casa para que tengan la misma cantidad</h2>
</header>
 <img src="../cars/car1.svg" id="draga1">
 <img src="../cars/car2.svg" id="draga2">
 <img src="../cars/car3.svg" id="draga3">
 <img src="../cars/car4.svg" id="draga4">
 <img src="../cars/car9.svg" id="draga5">
 <img src="../cars/car10.svg" id="draga6">
 <img src="../cars/car6.svg" id="draga7"> 
 <img src="../cars/car5.svg" id="draga8">
 <img src="../cars/car9.svg" id="draga9">
 <img src="../cars/car1.svg" id="draga10">
 <img src="../cars/auto1.svg" id="draga11"> 
 <img src="../cars/auto2.svg" id="draga12">
  <img id="drop" src="../cestos/casa.svg" class="dr1">
  <img id="drop2" src="../cestos/casa.svg" class="dr2">
  <img id="drop3" src="../cestos/casa.svg" class="dr3">
  <img id="drop4" src="../cestos/casa.svg" class="dr4">
<div id="texto1" class="te11"> </div>
<div id="texto3" class="te22"> </div>
<div id="texto4" class="te3"> </div>
<div id="texto5" class="te4"> </div>
<img id="image" class="image">  
</body>  
