<script src="../js/zepto.js"></script>
<script src="../js/zepto.dragdrop.js"></script>
<script src="../js/tipos.js"></script>
<link rel="stylesheet" type="text/css" href="../css/estilos2.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" charset="utf-8"/>
<body>
 <header> <a class="btn" href="../nivel2.html">Atrás</a> 
 <h3>Clasifica las fracciones de acuerdo al tipo </h3></header>
<img src="../tipos/propia1.svg" id="uno" class="uno">
<img src="../tipos/impropia1.svg" id="dos" class="dos">
<img src="../tipos/impropia2.svg" id="tres" class="tres">
<img src="../tipos/propia2.svg" id="cuatro" class="cuatro">
<img src="../tipos/propia3.svg" id="cinco" class="cinco">
<img src="../tipos/impropia3.svg" id="seis" class="seis">
<img src="../tipos/impropia4.svg" id="siete" class="siete">
<img src="../tipos/propia4.svg" id="ocho" class="ocho">
<img src="../tipos/propia5.svg" id="nueve" class="nueve">
<img src="../tipos/impropia5.svg" id="diez" class="diez">
<img src="../cestos/frasco.svg" class="drop" id="propias">
<img src="../cestos/frasco.svg" class="drop2" id="impropias">
<div id="texto1" class="texto1">Propia: </div>
<div id="texto3" class="texto3">impropia: </div>   