
.navbar {
	min-height: 70px;
	padding-top: 10px;
	margin-bottom: 0px;
}

.navbar-brand {
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
}

.navbar-header .navbar-brand {
	color: white;
}

.navbar-default .navbar-nav > li > a {
	color: white;
	font-weight: 700;
	font-size: 12px;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #000000;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #000000;
	background-color: transparent;
}

.navbar-default {
	background-color: #000000;
	border-color: transparent;
}

.dropdown-menu {
	background: #000000;
}

.dropdown-menu > li > a {
	color: white;
	font-weight: 700;
	font-size: 12px;
}


.dmbutton:hover,
.dmbutton:active,
.dmbutton:focus{
	color: #000000;
	background-color: #000000;
	border-color: #000000;
}

.hline {
	border-bottom: 2px solid #000000;
}

.hline-w {
	border-bottom: 2px solid #000000;
	margin-bottom: 25px;
}
/*	################################################################
	SITE WRAPS
################################################################# */


